/* global styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
}

p {
    color: #d1d5db;
}

body {
    background-color: #131313;
    color: white;
}

span {
    color: rgb(255, 64, 0);
}

.wrapper {
    max-width: 750px;
    margin: 0 auto;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
/* global styling end */


.nav-bar ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}

/* header styling */
.intro-section h1 {
    font-size: 3em;
    margin: 0;
}

.intro-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.intro-section-info-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding:5px;
}

.intro-section-company {
    padding-left: 3px;
}

.intro-section-company,
.intro-section-school {
    display: flex;
    align-items: center;
    gap: 10px;
}

.grey-para {
    color: grey;
    margin: 0;
}

.intro-section p {
    font-size: 18px;
}
/* header styling end*/


/* work + projects section styling */
.experience-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 30px;;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 20px;
}

.description-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description-container .title {
    font-size: 14px;
    color: grey;
}

.description-headers {
    font-size: 16px;
    color: white;
    padding-top: 15px;
}

.description-container h3 {
    font-size: 20px;
}

.description-container p {
    font-size: 16px;
}

.description-container ul {
    padding-left: 20px;
    color: grey;

}
/* work + projects section styling end*/

/* footer styling */
.footer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: grey;
}

.footer p {
    font-size: 12px;
}
/* footer styling end */


/* links styling */
.links-section ul {
    display: flex;
    list-style: none;
    gap: 25px;
    padding: 30px;

}
.links-section li a,
.nav-bar li a {
    color: inherit;
    text-decoration: none;
}


/* project description styling */
.technologies-list {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0 !important;
    flex-wrap: wrap; 
} 

.technologies-list li {
    color: grey;
    background-color: #202029;
    padding: 6px;
    border-radius: 3px;
} 

.tech-list-hover:hover{
    background-color: #222227;
    color: white;
}

.projects-container .description-container {
    padding: 30px;
    transition: 0.6s ease;
    border: 1px solid transparent; 
}

/* project border hover */
.projects-container .description-container:hover {
    border: 1px solid rgb(255, 64, 0); 
    color: rgb(255, 64, 0);
    border-radius: 2px;
}

/* hover effects */
.hover:hover {
    transition: 0.2s ease;
    color: rgb(255, 64, 0);
}

.project-link {
    display: inline-flex;
    padding-top: 15px;
    color: rgb(255, 64, 0);  
    gap: 10px;
    align-items: center;
    text-decoration: none;
}

.project-link:hover {
    text-decoration: underline;
}

.project-link i {
    position: relative;
    top: 0;
    transition: top 0.3s ease;
  }
  
.project-link:hover i {
    top: -3px; /* raises the arrow on hover */
}

.white-hover:hover {
    color: white;
    transition: 0.3s ease;
}

.achievements {
    display: flex;
    flex-direction: column;
    gap: 10px;
}